
body {
	background-color:lightblue;  
	font-family: Georgia, serif; 
	font-size:20px
}
h2 {
  color: $white;
}

figcaption>p{
white-space:pre-wrap;
max-width:700px;
font-family: Georgia, serif;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; 
  display: inline-block; 
  width:100%;
}
  
 .card {
    display: inline-block;  
	vertical-align:top;	
		
 }



img { 
width: 100%; 
max-width: 600px;
height: auto; 
max-height: 650px;
}



#link1:visited{ 
	color:black;  
}
#link1:link{
	color:black; 
}
#link2:visited{
	color:blue;
}
#link2:link{
	color:blue; 
}
 	

